<div class="container mt-3  ">
		<form action='/productos' method='post'>
			<div class="">
				<label for='title' class="form-label">Title</label>
				<br>
				<input type='text' name='title' id='title' />
			</div>
			<div class="form-group">

				<label for='price' class="form-label">Price</label>
				<br>
				<input type='number' name='price' id='price' />
			</div>
			<div class="form-group">

				<label for='price' class="form-label">Thumbnail</label>
				<br>
				<input type='text' name='thumbnail' id='thumbnail' />
			</div>
			<input type='submit'  value='submit' class="btn btn-dark mt-3" />

		</form>
		<a href='/productos' class="btn btn-dark mt-3">Show Products</a>

	</div>
