<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">	<title>

    <title>
        <%= title %>
    </title>
</head>

<body>
    <div>
        <% if (productos.length> 0) { %>
        <div class="table-responsive">
            <table class="table table-striped ">
                <tr class="table-dark">
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>
                <% for(let producto of productos) { %>
                <tr>
                    <td>
                        <%=producto.title %>
                    </td>
                    <td>
                        <%=producto.price %>
                    </td>
                    <td>
                        <img src=<%=producto.thumbnail %> style="width: 50px;"></img>
                    </td>
                </tr>
                <% }%>

            </table>
        </div>
        <% } else { %>
        <span>No Products to show</span>
        <% } %>

    </div>
    <a href="/" class="btn btn-dark mt-3 ms-3">Add Product</a>
</body>

</html>